 p{
   /* display: none;
  visibility: hidden; */
  border: 5px solid aqua;
 /* border-color: aqua; */
width: 20%;
height: 20%;
outline: 5px solid black;
text-decoration: underline;
/* outline-color: black; */
}