body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
  background: #000;
}

 

P{
font-size: larger;
color: red;
 padding: 10px;
cursor: pointer;
}
