 
body{
  background-color: black;
  color: white;
}

 
p{
   width: 150px;
  height: 200px;
}

/* primitive deta types */
/* string , bolean , number , null, undifine, symbol,bighint */
/* non-primitive deta types */
/* string , function */